Apuntes/n8n/Gmail_Metralleta.json
{
  "name": "Autom.Facturas-Empresas(Gmail_Regex) Metralleta",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $binary.data.fileExtension }}",
              "value2": "pdf"
            }
          ]
        }
      },
      "id": "d4a705e0-14d6-4865-9201-0ddfd8c65d9c",
      "name": "Is PDF",
      "type": "n8n-nodes-base.if",
      "position": [
        -4500,
        -1280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0b2c9cc5-05c8-4525-8eab-4c8be849b8d0",
      "name": "Not a PDF",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -4280,
        -1180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// https://community.n8n.io/t/iterating-over-email-attachments/13588/3\nlet results = [];\n\nfor (const item of $input.all()) {\n  for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {},\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"
      },
      "id": "519741d9-0133-46d2-acbc-58b4a5aa61f3",
      "name": "Iterate over email attachments",
      "type": "n8n-nodes-base.code",
      "position": [
        -4720,
        -1380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "binaryData": true,
        "name": "={{ $binary.data.fileName }}",
        "options": {}
      },
      "id": "f8a27ddf-c364-40ac-a723-4a3f7e94c4a5",
      "name": "Upload file to folder",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -4080,
        -1380
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "feXVSRveVKgVrnmP",
          "name": "Google Drive account (Oscar)"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_1255925899534323982"
          ],
          "q": "has:attachment",
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "df3bc6cb-1722-4705-bfd4-902fa97c7381",
      "name": "On email received",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        -5120,
        -1280
      ],
      "typeVersion": 1,
      "credentials": {
        "gmailOAuth2": {
          "id": "okMcvzXN8cIjwRYs",
          "name": "Gmail account (Oscar2)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('On email received').item.binary.isNotEmpty() }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c1bc94e8-7bfd-46d1-bc02-f4edc0d9b7b2",
      "name": "Has attachments?",
      "type": "n8n-nodes-base.if",
      "position": [
        -4940,
        -1280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "96734a00-b863-412d-ad22-5bee15958b88",
      "name": "There are no attachments",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -4720,
        -1180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "text",
        "options": {
          "keepSource": "binary"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -4280,
        -1380
      ],
      "id": "6d39ab8a-6430-4d80-87f5-50898b59737a",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/17WR7hfIet-hcpFrjHW0agwHsC8KnM1Sn",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3900,
        -1380
      ],
      "id": "0cbf1d16-8b15-4e1b-8c61-dfa948678bba",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "feXVSRveVKgVrnmP",
          "name": "Google Drive account (Oscar)"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('On email received').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -3700,
        -1380
      ],
      "id": "08220b71-6219-4189-b9d3-b55b50e9aac3",
      "name": "Gmail6",
      "webhookId": "51aff638-d0ab-4426-aff3-281b9badfbad",
      "credentials": {
        "gmailOAuth2": {
          "id": "okMcvzXN8cIjwRYs",
          "name": "Gmail account (Oscar2)"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -3540,
        -1560
      ],
      "id": "197cdb3d-ba3c-4e2d-8052-2f522267784f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "00df08b7-d3dc-4d69-b541-f5356c9fe957",
      "name": "Google Drive2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3700,
        -1560
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "feXVSRveVKgVrnmP",
          "name": "Google Drive account (Oscar)"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3360,
        -1560
      ],
      "id": "5a02e67c-de80-4a6f-ad26-d359e2c50064",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe87101f-9e2e-4f57-9769-b01a3617901a",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3120,
        -1540
      ],
      "id": "852917e4-0a11-4f22-ad3f-592494bb7728",
      "name": "Edit Fields Pre_If's"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aae4c0c7-7aaa-4b4e-b78e-b187e5374636",
              "name": "Empresa Compradora",
              "value": "Worldwide Solicitors",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2120,
        -1400
      ],
      "id": "4ce5fe20-501a-47c6-b5f2-f2501bc9b1a8",
      "name": "Edit Fields WWS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aae4c0c7-7aaa-4b4e-b78e-b187e5374636",
              "name": "Empresa Compradora",
              "value": "Global Documents",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2120,
        -1200
      ],
      "id": "177a22cc-c783-4d35-adda-e15255ac42cf",
      "name": "Edit Fields GD"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c63ecb15-670e-453a-9fad-de9b4b690097",
              "name": "Empresa Compradora",
              "value": "Norgenic",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2120,
        -1040
      ],
      "id": "3ad92966-8902-4745-9ba3-9919e3cc1c5f",
      "name": "Edit Fields Norgenic"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c63ecb15-670e-453a-9fad-de9b4b690097",
              "name": "Empresa Compradora",
              "value": "Other",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -940,
        -820
      ],
      "id": "f26ece30-ee0f-4228-b46f-695b68630b6f",
      "name": "Edit Fields Other"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c63ecb15-670e-453a-9fad-de9b4b690097",
              "name": "Empresa Compradora",
              "value": "Taxgov",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2120,
        -1560
      ],
      "id": "09a51beb-b4d7-4a52-99f6-9c0f32f5d95e",
      "name": "Edit Fields Taxgov"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4fb9d7d-d3f2-4bef-920b-e3a5be2c93dd",
              "name": "Empresa Compradora",
              "value": "={{ $json['Empresa Compradora'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1460,
        -1560
      ],
      "id": "c2731e50-5cc7-4e04-bf97-40da3608015d",
      "name": "Edit Fields EmpresaCompradora"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dbec3953-3007-46e6-ad98-e7f96574f893",
              "leftValue": "={{ $json.text }}",
              "rightValue": "Taxgov",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b2157181-4b5d-4809-93e8-77d5211bd44a",
              "leftValue": "={{ $json.text }}",
              "rightValue": "TAXGOV",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2920,
        -1540
      ],
      "id": "9ede81a9-0dad-456c-972b-09c218ca8889",
      "name": "If Taxgov"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3d05e0fc-1f5e-4201-a1ba-a4d85a8fbbc1",
              "leftValue": "={{ $json.text }}",
              "rightValue": "WORLDWIDE SOLICITORS",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "92b3ae86-f6ec-482a-a0ce-54735feec824",
              "leftValue": "={{ $json.text }}",
              "rightValue": "WORLDWIDESOLICITORS",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "419d0564-abc5-431d-a40a-865b50f8c4fe",
              "leftValue": "={{ $json.text }}",
              "rightValue": "WorldwideSolicitors",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7935e0c7-edbd-4bce-80d1-f8dbf04f98b4",
              "leftValue": "={{ $json.text }}",
              "rightValue": "Worldwide Solicitors",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2720,
        -1420
      ],
      "id": "b50d417f-8583-41fc-9f28-b25a41331dc6",
      "name": "If WW"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3d05e0fc-1f5e-4201-a1ba-a4d85a8fbbc1",
              "leftValue": "={{ $json.text }}",
              "rightValue": "GLOBAL DOCUMENT",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "92b3ae86-f6ec-482a-a0ce-54735feec824",
              "leftValue": "={{ $json.text }}",
              "rightValue": "GLOBALDOCUMENT",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "419d0564-abc5-431d-a40a-865b50f8c4fe",
              "leftValue": "={{ $json.text }}",
              "rightValue": "Global document",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7935e0c7-edbd-4bce-80d1-f8dbf04f98b4",
              "leftValue": "={{ $json.text }}",
              "rightValue": "Globaldocument",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2600,
        -1220
      ],
      "id": "cdba21ac-4cbe-49be-960b-828a95b807a1",
      "name": "If GD"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dbec3953-3007-46e6-ad98-e7f96574f893",
              "leftValue": "={{ $json.text }}",
              "rightValue": "Norgenic",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "51e34814-63d5-4d9e-9b9b-9e74ef169c9e",
              "leftValue": "={{ $json.text }}",
              "rightValue": "NORGENIC",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6ef112f7-84a9-4f61-8932-fd634266813c",
              "leftValue": "={{ $json.text }}",
              "rightValue": "\\nNORGENIC",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "8d78c4e4-f94a-492c-9177-51c416f9adc7",
              "leftValue": "={{ $json.text }}",
              "rightValue": "\\n NORGENIC",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "43307b1e-2006-457c-bfa1-b3992f30a996",
              "leftValue": "={{ $json.text }}",
              "rightValue": "norgenic ",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2480,
        -1020
      ],
      "id": "07d645bb-9d79-46cb-9939-06cf3cfe8a92",
      "name": "If Norgenic"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2e908f16-0470-400b-9dd1-ff168d02da56",
              "leftValue": "{{ $json.WorldwideSolicitor }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "a0771643-577d-4ad8-b497-3228721c2c13",
              "leftValue": "{{ $json.GlobalDocument }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "7730c026-ed9d-4439-af6a-c5c09c16a8aa",
              "leftValue": "{{ $json.Taxgov }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "319019e8-4179-4d5a-bee2-92d8b460a20d",
              "leftValue": "{{ $json.Norgenic }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1700,
        -1560
      ],
      "id": "abd6f1b5-7536-4b01-9f7e-39110f76de74",
      "name": "If EmpresaCompradora"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b07ec7d0-0cbd-41f6-a422-fd078ec984ec",
              "leftValue": "={{ $json.text }}",
              "rightValue": "NORGENIC",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "46a198d8-2c65-4aa6-bc8f-70e444631fdc",
              "leftValue": "={{ $json.text }}",
              "rightValue": "Norgenic",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2720,
        -1540
      ],
      "id": "21e46d45-032f-430a-829c-60cca5e083d2",
      "name": "If TAXGOV-NORGENIC"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive2').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1bTGnOXd4LBDPF3sBWIA6BnG6Rw64MFS6",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        -820
      ],
      "id": "79290bb6-8c73-40cd-96db-0abdca94e160",
      "name": "Google Drive13",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "feXVSRveVKgVrnmP",
          "name": "Google Drive account (Oscar)"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "oscar@norgenic.com",
        "subject": "Factura a Revisar",
        "emailType": "text",
        "message": "Revisar: https://drive.google.com/drive/folders/1bTGnOXd4LBDPF3sBWIA6BnG6Rw64MFS6",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        380,
        -820
      ],
      "id": "eb2472a8-685c-45c8-b9c2-54cb8fbcd9dc",
      "name": "Gmail1",
      "webhookId": "b1358d07-6f39-4458-853d-ba4691ccb0ba",
      "credentials": {
        "gmailOAuth2": {
          "id": "okMcvzXN8cIjwRYs",
          "name": "Gmail account (Oscar2)"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields EmpresaCompradora').item.json['Empresa Compradora'] }}",
                    "rightValue": "Norgenic",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Norgenic"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "591e9575-4af7-41c5-b895-9bcdee538bd1",
                    "leftValue": "={{ $('Edit Fields EmpresaCompradora').item.json['Empresa Compradora'] }}",
                    "rightValue": "Taxgov",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Taxgov"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "28880fb9-8b85-4d7e-996b-ca98010f6b1b",
                    "leftValue": "={{ $('Edit Fields EmpresaCompradora').item.json['Empresa Compradora'] }}",
                    "rightValue": "Global Documents",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Global Documents"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7fa82ae0-eb93-4511-8a0d-5ee079aa2b15",
                    "leftValue": "={{ $('Edit Fields EmpresaCompradora').item.json['Empresa Compradora'] }}",
                    "rightValue": "Worldwide Solicitors",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Worldwide Solicitors"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Other"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1280,
        -1600
      ],
      "id": "461de929-8078-4f84-8701-67f903232d3d",
      "name": "Switch Empresa Compradora"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd0429e7-4804-494d-b0b9-8f422ec3cf7e",
              "name": "nºFactura",
              "value": "={{ $('Edit Fields Pre_If\\'s').item.json.text.match(/\\nINVOICE\\n\\[EX\\](.*?)\\n/)[1]}}",
              "type": "string"
            },
            {
              "id": "c5920399-30b1-430c-b6b9-e6e0a5aa07a2",
              "name": "Empresa Vendedora",
              "value": "=Crec",
              "type": "string"
            },
            {
              "id": "c65df9ef-54d2-4592-a5e0-c6a5527dc7f9",
              "name": "Fecha Factura",
              "value": "={{    (new Date($('Edit Fields Pre_If\\'s').item.json.text.match(/\\n([^\\n]+)\\nPeriod/)[1].trim())).toISOString().split('T')[0].replace(/-/g, '/') }}",
              "type": "string"
            },
            {
              "id": "97a1aba0-e926-4662-864c-eb3c79e9ceae",
              "name": "ImporteTotal",
              "value": "={{ $('Edit Fields Pre_If\\'s').item.json.text.match(/\\nDue\\s+([^\\n]+)/)[1] }}",
              "type": "string"
            },
            {
              "id": "39b42bc2-d757-42d4-8baf-923bd9fe3c9d",
              "name": "Empresa Compradora",
              "value": "={{ $('Edit Fields EmpresaCompradora').item.json['Empresa Compradora'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        -1620
      ],
      "id": "274d883f-8514-4c83-b697-ef9c0c602c06",
      "name": "Edit Fields GD a Crec"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54606ad-f81c-4ead-83c1-75fc10999fdf",
              "name": "nºFactura",
              "value": "={{ \n  $('Edit Fields Pre_If\\'s').item.json.text.match(/\\n\\d{2}-\\d{2}-\\d{4}([^\\n]+)\\n/)[1].replace(' ', '-')\n}}",
              "type": "string"
            },
            {
              "id": "c5920399-30b1-430c-b6b9-e6e0a5aa07a2",
              "name": "Empresa Vendedora",
              "value": "=ViaTribut",
              "type": "string"
            },
            {
              "id": "67e4a818-834d-417a-b601-15da60adebf1",
              "name": "Fecha Factura",
              "value": "={{    $('Edit Fields Pre_If\\'s').item.json.text.match(/\\n(\\d{2}-\\d{2}-\\d{4})/)[1].split('-').reverse().join('-') }}",
              "type": "string"
            },
            {
              "id": "9d8217eb-ae6d-4c33-9da8-c0f7a7c03d4f",
              "name": "ImporteTotal",
              "value": "={{$('Edit Fields Pre_If\\'s').item.json.text.match(/\\n([\\d,]+)\\nVencimientoForma de pago/)[1].trim()+'€'}}",
              "type": "string"
            },
            {
              "id": "342f65eb-6e90-4890-8e6f-0d466fdcc056",
              "name": "Empresa Compradora",
              "value": "={{ $('Edit Fields EmpresaCompradora').item.json['Empresa Compradora'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        -1440
      ],
      "id": "9ad1f798-cdf1-4681-bed6-d1d25f75b506",
      "name": "Edit Fields GD-ViaTribut"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "GLOBAL DOCUMENT",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GLOBAL DOCUMENT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "16c94cc5-0736-4168-a4ac-9c51e78c75f5",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "GLOBALDOCUMENT",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GLOBALDOCUMENT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "99bed08d-8614-42cc-b0ae-c6e0ef28ecaf",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Global Document",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Global Document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9ae43944-1ec4-4288-98ae-bb0a331a86ad",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "GlobalDocument",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GlobalDocument"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2340,
        -1220
      ],
      "id": "704b3739-9848-4176-8011-69d22b14dd58",
      "name": "SwitchGD"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "WORLDWIDE SOLICITOR",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WORLDWIDE SOLICITOR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "16c94cc5-0736-4168-a4ac-9c51e78c75f5",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "WORLDWIDESOLICITOR",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WORLDWIDESOLICITOR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "99bed08d-8614-42cc-b0ae-c6e0ef28ecaf",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Worldwide Solicitor",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Worldwide Solicitor"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9ae43944-1ec4-4288-98ae-bb0a331a86ad",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "WorldwideSolicitor",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WorldwideSolicitors"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2340,
        -1420
      ],
      "id": "4ca2b274-2bda-4709-b566-2d0a41d9a040",
      "name": "SwitchWW"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "075e403c-b34b-44bc-9b46-a3ef3fdc10e5",
              "name": "NombreFactura",
              "value": "={{ $json['nºFactura'] +\"_\"+ $json['Empresa Vendedora'] +\"_\"+ $json['Fecha Factura'] +\"_\"+ $json.ImporteTotal +\"_\"+ $json['Empresa Compradora']}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        -1540
      ],
      "id": "096e8e1c-2c01-40af-96d1-2510c84f1a1e",
      "name": "Edit Fields Nombre Factura"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive2').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1wjSR4Bkk1OV22TW0_cGXj2NI84vGHAMN",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        -1340
      ],
      "id": "da8e883e-126d-4619-82e8-f210e393599b",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "feXVSRveVKgVrnmP",
          "name": "Google Drive account (Oscar)"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive2').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1-cAD8dygpOHuXbEKRmvB2XliPp9ltyHd",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        -1540
      ],
      "id": "17e409be-0e2a-44d6-be42-4d7f1a4822d1",
      "name": "Google Drive10",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "feXVSRveVKgVrnmP",
          "name": "Google Drive account (Oscar)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "newUpdatedFileName": "={{ $('Edit Fields Nombre Factura').item.json.NombreFactura }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        380,
        -1540
      ],
      "id": "cfa85b55-ef25-437e-b5b2-e97c608cf50c",
      "name": "Google Drive11",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "feXVSRveVKgVrnmP",
          "name": "Google Drive account (Oscar)"
        }
      },
      "notes": "{{ $('If').item.json['nºFactura'] +\"_\"+ $('If').item.json.Proveedor +\"_\"+ $('If').item.json.FechaFactura +\"_\"+ $('If').item.json.ImporteBase +\"_\"+$('OpenAI').item.json.message.content.Comprador }}"
    },
    {
      "parameters": {
        "sendTo": "oscar@norgenic.com",
        "subject": "Factura Global Document a Revisar",
        "emailType": "text",
        "message": "Información Faltante: https://drive.google.com/drive/folders/1wjSR4Bkk1OV22TW0_cGXj2NI84vGHAMN",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        380,
        -1340
      ],
      "id": "6e60f1f7-fa46-4ad1-8db2-e2c7bd5c911a",
      "name": "Gmail",
      "webhookId": "c26a93b2-ff12-41f1-97c3-b3466435b4e3",
      "credentials": {
        "gmailOAuth2": {
          "id": "okMcvzXN8cIjwRYs",
          "name": "Gmail account (Oscar2)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "075e403c-b34b-44bc-9b46-a3ef3fdc10e5",
              "name": "NombreFactura",
              "value": "={{ $json['nºFactura'] +\"_\"+ $json['Empresa Vendedora'] +\"_\"+ $json['Fecha Factura'] +\"_\"+ $json.ImporteTotal +\"_\"+ $json['Empresa Compradora']}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        -1180
      ],
      "id": "002a5906-941d-4a10-b403-05c60a42be32",
      "name": "Edit Fields Nombre Factura1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd0429e7-4804-494d-b0b9-8f422ec3cf7e",
              "name": "nºFactura",
              "value": "={{ \n  $('Edit Fields Pre_If\\'s').item.json.text.match(/\\nFACTURA\\n([^\\n]+)/)[1] \n}}",
              "type": "string"
            },
            {
              "id": "c5920399-30b1-430c-b6b9-e6e0a5aa07a2",
              "name": "Empresa Vendedora",
              "value": "=Crec",
              "type": "string"
            },
            {
              "id": "c65df9ef-54d2-4592-a5e0-c6a5527dc7f9",
              "name": "Fecha Factura",
              "value": "={{ $('Edit Fields Pre_If\\'s').item.json.text.match(/\\n([^\\n]+)\\nPeriodo/)[1]}}",
              "type": "string"
            },
            {
              "id": "97a1aba0-e926-4662-864c-eb3c79e9ceae",
              "name": "ImporteTotal",
              "value": "={{ $('Edit Fields Pre_If\\'s').item.json.text.match(/\\(.*\\) \\d+,\\d+/)[0] }}",
              "type": "string"
            },
            {
              "id": "39b42bc2-d757-42d4-8baf-923bd9fe3c9d",
              "name": "Empresa Compradora",
              "value": "={{ $('Edit Fields EmpresaCompradora').item.json['Empresa Compradora'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        -1240
      ],
      "id": "51c071f2-3edd-487a-9654-ae5bbcb2dd13",
      "name": "Edit Fields WW a Crec1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54606ad-f81c-4ead-83c1-75fc10999fdf",
              "name": "nºFactura",
              "value": "={{ \n  $('Edit Fields Pre_If\\'s').item.json.text.match(/\\n\\d{2}-\\d{2}-\\d{4}([^\\n]+)\\n/)[1].replace(' ', '-')\n}}",
              "type": "string"
            },
            {
              "id": "c5920399-30b1-430c-b6b9-e6e0a5aa07a2",
              "name": "Empresa Vendedora",
              "value": "=ViaTribut",
              "type": "string"
            },
            {
              "id": "67e4a818-834d-417a-b601-15da60adebf1",
              "name": "Fecha Factura",
              "value": "={{    $('Edit Fields Pre_If\\'s').item.json.text.match(/\\n(\\d{2}-\\d{2}-\\d{4})/)[1].split('-').reverse().join('-') }}",
              "type": "string"
            },
            {
              "id": "9d8217eb-ae6d-4c33-9da8-c0f7a7c03d4f",
              "name": "ImporteTotal",
              "value": "={{$('Edit Fields Pre_If\\'s').item.json.text.match(/\\n([\\d,]+)\\nVencimientoForma de pago/)[1].trim()+'€'}}",
              "type": "string"
            },
            {
              "id": "342f65eb-6e90-4890-8e6f-0d466fdcc056",
              "name": "Empresa Compradora",
              "value": "={{ $('Edit Fields EmpresaCompradora').item.json['Empresa Compradora'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        -1080
      ],
      "id": "e2c5eece-1663-4bf6-8857-1134f2254e18",
      "name": "Edit Fields WW-ViaTribut1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields Pre_If\\'s').item.json.text }}",
                    "rightValue": "CREC S.L.",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Crec"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "04875df2-50b6-4916-b743-2c51dfa466eb",
                    "leftValue": "={{ $('Edit Fields Pre_If\\'s').item.json.text }}",
                    "rightValue": "VIA TRIBUT",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ViaTribut"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -940,
        -1000
      ],
      "id": "55e4a297-64a2-4c70-bd19-de4a38444de3",
      "name": "Switch Empresas WW"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields Pre_If\\'s').item.json.text }}",
                    "rightValue": "CREC S.L.",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Crec"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "04875df2-50b6-4916-b743-2c51dfa466eb",
                    "leftValue": "={{ $('Edit Fields Pre_If\\'s').item.json.text }}",
                    "rightValue": "VIA TRIBUT",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ViaTribut"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -940,
        -1360
      ],
      "id": "2c68c09a-c376-4ed5-af0d-08dffdf984b8",
      "name": "Switch Empresas GD"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "44b6501c-2097-4f9b-936c-efbded3c4dfe",
              "leftValue": "={{ $json['nºFactura'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2e908f16-0470-400b-9dd1-ff168d02da56",
              "leftValue": "={{ $json['Empresa Vendedora'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "aff9a6f5-7ae7-4179-a5b8-bfd6df90611c",
              "leftValue": "={{ $json['Fecha Factura'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "31a01e5b-cb71-48cc-a055-d23f395edb41",
              "leftValue": "={{ $json.ImporteTotal }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "02393d2c-3dec-49af-b89f-d61736132e0a",
              "leftValue": "={{ $json['Empresa Compradora'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        -1160
      ],
      "id": "aeb11d81-6cbf-4e71-bb66-1e93463e43ee",
      "name": "If  WW not empty"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "44b6501c-2097-4f9b-936c-efbded3c4dfe",
              "leftValue": "={{ $json['nºFactura'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2e908f16-0470-400b-9dd1-ff168d02da56",
              "leftValue": "={{ $json['Empresa Vendedora'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "aff9a6f5-7ae7-4179-a5b8-bfd6df90611c",
              "leftValue": "={{ $json['Fecha Factura'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "31a01e5b-cb71-48cc-a055-d23f395edb41",
              "leftValue": "={{ $json.ImporteTotal }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "02393d2c-3dec-49af-b89f-d61736132e0a",
              "leftValue": "={{ $json['Empresa Compradora'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        -1520
      ],
      "id": "dd2a5af3-fcf1-461b-a782-f62d6b080c4d",
      "name": "If GD not empty"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive2').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/16123G6ygXK8T9lRpwDI9RUiWpWw3tZBK",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        -980
      ],
      "id": "f3f3e8ce-27b9-4b7c-8a74-b12a763ebcb2",
      "name": "Google Drive12",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "feXVSRveVKgVrnmP",
          "name": "Google Drive account (Oscar)"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive2').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1gj9lnEKB1d-d963I-yYWidpyB2rACpg6",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        -1180
      ],
      "id": "3d91046e-197d-4fe4-aeb3-5b7f106fc34a",
      "name": "Google Drive14",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "feXVSRveVKgVrnmP",
          "name": "Google Drive account (Oscar)"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "oscar@norgenic.com",
        "subject": "Factura Worldwide a Revisar",
        "emailType": "text",
        "message": "Información Faltante: https://drive.google.com/drive/folders/16123G6ygXK8T9lRpwDI9RUiWpWw3tZBK",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        380,
        -980
      ],
      "id": "46b7e37f-3969-434f-bd8a-513d0ba5110f",
      "name": "Gmail2",
      "webhookId": "5f190ebd-31f9-455d-aa26-1c7c46317750",
      "credentials": {
        "gmailOAuth2": {
          "id": "okMcvzXN8cIjwRYs",
          "name": "Gmail account (Oscar2)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "newUpdatedFileName": "={{ $('Edit Fields Nombre Factura1').item.json.NombreFactura }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        380,
        -1180
      ],
      "id": "e99d79ad-9af6-4975-8958-1c5ff72cfc9e",
      "name": "Google Drive15",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "feXVSRveVKgVrnmP",
          "name": "Google Drive account (Oscar)"
        }
      },
      "notes": "{{ $('If').item.json['nºFactura'] +\"_\"+ $('If').item.json.Proveedor +\"_\"+ $('If').item.json.FechaFactura +\"_\"+ $('If').item.json.ImporteBase +\"_\"+$('OpenAI').item.json.message.content.Comprador }}"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "075e403c-b34b-44bc-9b46-a3ef3fdc10e5",
              "name": "NombreFactura",
              "value": "={{ \n$json['Fecha Factura'] \n+\"_\"+ \n$json['Empresa Vendedora'] \n+\"_\"+ \n$json['nºFactura'] \n+\"_\"+ \n$json.ImporteTotal \n+\"_\"+ \n$json['Empresa Compradora']}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        -2040
      ],
      "id": "9de6fe6c-9047-4d9f-b44d-ef39af9c7f06",
      "name": "Edit Fields Nombre Factura2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "21d1bb63-3a27-4f01-9b45-da3fce863b82",
                    "leftValue": "={{ $('Edit Fields Pre_If\\'s').item.json.text }}",
                    "rightValue": "Microsoft Ireland Operations Limited",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3e3091c9-fbe8-4bae-89aa-9badcc5cca79",
                    "leftValue": "={{ $('Edit Fields Pre_If\\'s').item.json.text }}",
                    "rightValue": "Google Ireland Limited",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Google"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "04875df2-50b6-4916-b743-2c51dfa466eb",
                    "leftValue": "={{ $('Edit Fields Pre_If\\'s').item.json.text }}",
                    "rightValue": "VIA TRIBUT",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ViaTribut"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fc67fec1-4141-4a89-acc2-c41788d80e34",
                    "leftValue": "={{ $('If TAXGOV-NORGENIC').item.json.text.match(/(.+) S\\.L\\.U/)[1].replaceSpecialChars().toLowerCase().toTitleCase().replaceAll(' ','') }}",
                    "rightValue": "AbacAssessors",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AbacAssessors"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -940,
        -1800
      ],
      "id": "2fde7aba-48dc-4b76-b472-34f80bdd1fac",
      "name": "Switch Empresas TaxG"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54606ad-f81c-4ead-83c1-75fc10999fdf",
              "name": "nºFactura",
              "value": "={{ \n  $('Edit Fields Pre_If\\'s').item.json.text.match(/\\n\\d{2}-\\d{2}-\\d{4}([^\\n]+)\\n/)[1].replace(' ', '-')\n}}",
              "type": "string"
            },
            {
              "id": "c5920399-30b1-430c-b6b9-e6e0a5aa07a2",
              "name": "Empresa Vendedora",
              "value": "=ViaTribut",
              "type": "string"
            },
            {
              "id": "67e4a818-834d-417a-b601-15da60adebf1",
              "name": "Fecha Factura",
              "value": "={{    $('Edit Fields Pre_If\\'s').item.json.text.match(/\\n(\\d{2}-\\d{2}-\\d{4})/)[1].split('-').reverse().join('-') }}",
              "type": "string"
            },
            {
              "id": "9d8217eb-ae6d-4c33-9da8-c0f7a7c03d4f",
              "name": "ImporteTotal",
              "value": "={{$('Edit Fields Pre_If\\'s').item.json.text.match(/\\n([\\d,]+)\\nVencimientoForma de pago/)[1].trim()+'€'}}",
              "type": "string"
            },
            {
              "id": "342f65eb-6e90-4890-8e6f-0d466fdcc056",
              "name": "Empresa Compradora",
              "value": "={{ $('Edit Fields EmpresaCompradora').item.json['Empresa Compradora'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        -1940
      ],
      "id": "3f2b80c9-f78a-4305-af73-4e2f1cbc0a74",
      "name": "Edit Fields TG-ViaTribut"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd0429e7-4804-494d-b0b9-8f422ec3cf7e",
              "name": "nºFactura",
              "value": "={{ $('Edit Fields Pre_If\\'s').item.json.text.match(/Número (\\d+)/)[1] }}",
              "type": "string"
            },
            {
              "id": "c5920399-30b1-430c-b6b9-e6e0a5aa07a2",
              "name": "Empresa Vendedora",
              "value": "=Microsoft Ireland Operations Limited",
              "type": "string"
            },
            {
              "id": "c65df9ef-54d2-4592-a5e0-c6a5527dc7f9",
              "name": "Fecha Factura",
              "value": "={{ $('Edit Fields Pre_If\\'s').item.json.text.match(/Fecha del documento (\\d{2}\\/\\d{2}\\/\\d{4})/)[1] }}",
              "type": "string"
            },
            {
              "id": "97a1aba0-e926-4662-864c-eb3c79e9ceae",
              "name": "ImporteTotal",
              "value": "={{ \n    $('Edit Fields Pre_If\\'s').item.json.text.match(/\\nImporte \\(EUR\\) \\n(.+)\\nImporte ya pagado\\n/)[1] + \"€\" \n}}",
              "type": "string"
            },
            {
              "id": "39b42bc2-d757-42d4-8baf-923bd9fe3c9d",
              "name": "Empresa Compradora",
              "value": "={{ $('Edit Fields EmpresaCompradora').item.json['Empresa Compradora'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        -2260
      ],
      "id": "46d223fa-01df-4125-be28-1d6c3d9cf873",
      "name": "Edit Fields TaxG-Bing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd0429e7-4804-494d-b0b9-8f422ec3cf7e",
              "name": "nºFactura",
              "value": "={{ $('Edit Fields Pre_If\\'s').item.json.text.match(/Invoice number: (\\d+)/)[1] }}",
              "type": "string"
            },
            {
              "id": "c5920399-30b1-430c-b6b9-e6e0a5aa07a2",
              "name": "Empresa Vendedora",
              "value": "=Google Ireland Limited",
              "type": "string"
            },
            {
              "id": "c65df9ef-54d2-4592-a5e0-c6a5527dc7f9",
              "name": "Fecha Factura",
              "value": "={{ $('Edit Fields Pre_If\\'s').item.json.text.match(/\\.(\\d{2} \\w{3} \\d{4})/)[1] }}",
              "type": "string"
            },
            {
              "id": "97a1aba0-e926-4662-864c-eb3c79e9ceae",
              "name": "ImporteTotal",
              "value": "={{ \n    $('Edit Fields Pre_If\\'s').item.json.text.match(/\\nAccount ID\\n(€[\\d,]+\\.\\d{2})/)[1] \n}}",
              "type": "string"
            },
            {
              "id": "39b42bc2-d757-42d4-8baf-923bd9fe3c9d",
              "name": "Empresa Compradora",
              "value": "={{ $('Edit Fields EmpresaCompradora').item.json['Empresa Compradora'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        -2100
      ],
      "id": "edaf95ed-0a87-48b2-85c7-425c2fd4e9a3",
      "name": "Edit Fields TaxG-Google"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "44b6501c-2097-4f9b-936c-efbded3c4dfe",
              "leftValue": "={{ $json['nºFactura'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2e908f16-0470-400b-9dd1-ff168d02da56",
              "leftValue": "={{ $json['Empresa Vendedora'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "aff9a6f5-7ae7-4179-a5b8-bfd6df90611c",
              "leftValue": "={{ $json['Fecha Factura'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "31a01e5b-cb71-48cc-a055-d23f395edb41",
              "leftValue": "={{ $json.ImporteTotal }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "02393d2c-3dec-49af-b89f-d61736132e0a",
              "leftValue": "={{ $json['Empresa Compradora'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -460,
        -2020
      ],
      "id": "264a06e1-7ef6-490d-ac7d-0e39a219b48a",
      "name": "If TG not empty"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "58572419-b3f3-4ad8-99b8-4f950438e2ad",
              "leftValue": "={{ $('Edit Fields Pre_If\\'s').item.json.text }}",
              "rightValue": "Pago rechazado",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -260,
        -2020
      ],
      "id": "7dbad02e-1640-4207-89df-15fdf810450b",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive2').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1QiokouvHtBmH-TtZ5ftQ7-meRTvy1upa",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        -1700
      ],
      "id": "1d11e1a0-c558-4138-95e5-b5980d6d3c5f",
      "name": "Google Drive4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "feXVSRveVKgVrnmP",
          "name": "Google Drive account (Oscar)"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive2').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1XV7GEcgZ7hvQUKySPVEalwdFSPFuEI4D",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        -2040
      ],
      "id": "84aed9c2-9234-42be-9f82-0fa67f882c97",
      "name": "Google Drive5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "feXVSRveVKgVrnmP",
          "name": "Google Drive account (Oscar)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "newUpdatedFileName": "={{ $('Edit Fields Nombre Factura2').item.json.NombreFactura }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        380,
        -2040
      ],
      "id": "a34b8137-3f2c-4255-9a61-3d950f1c2919",
      "name": "Google Drive6",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "feXVSRveVKgVrnmP",
          "name": "Google Drive account (Oscar)"
        }
      },
      "notes": "{{ $('If').item.json['nºFactura'] +\"_\"+ $('If').item.json.Proveedor +\"_\"+ $('If').item.json.FechaFactura +\"_\"+ $('If').item.json.ImporteBase +\"_\"+$('OpenAI').item.json.message.content.Comprador }}"
    },
    {
      "parameters": {
        "sendTo": "oscar@norgenic.com",
        "subject": "Factura Taxagov a Revisar",
        "emailType": "text",
        "message": "Revisar: https://drive.google.com/drive/folders/1QiokouvHtBmH-TtZ5ftQ7-meRTvy1upa",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        380,
        -1700
      ],
      "id": "80b36c18-c4f5-4f4c-a177-b66c37f8f60b",
      "name": "Gmail4",
      "webhookId": "a14983c7-6fe2-4ba4-986f-a32dddc1711c",
      "credentials": {
        "gmailOAuth2": {
          "id": "okMcvzXN8cIjwRYs",
          "name": "Gmail account (Oscar2)"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive2').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1TWAWtb7FC52wXBHsJdB5YHOw4w70rZmu",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -680,
        -2420
      ],
      "id": "235b9400-5f66-4e34-8345-d7d4e9f9df64",
      "name": "Google Drive16",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "feXVSRveVKgVrnmP",
          "name": "Google Drive account (Oscar)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5528fc73-76cd-40f5-9cc1-e770650e1535",
              "leftValue": "={{ $json.text }}",
              "rightValue": "Mailgun Technologies,",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "62eee7b0-c457-4367-9c83-386d711e9139",
              "leftValue": "={{ $json.text }}",
              "rightValue": "Everapi GmbH",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2340,
        -840
      ],
      "id": "04a96662-b379-4962-b0e8-1dec6078735c",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54606ad-f81c-4ead-83c1-75fc10999fdf",
              "name": "nºFactura",
              "value": "={{ \n$('Edit Fields Pre_If\\'s').item.json.text.match(/\\n(.+\\/) (.+)B42759068/)[1].replace(' ', '')+\n$('Edit Fields Pre_If\\'s').item.json.text.match(/\\n(.+\\/) (.+)B42759068/)[2].replace(' ', '')\n}}",
              "type": "string"
            },
            {
              "id": "c5920399-30b1-430c-b6b9-e6e0a5aa07a2",
              "name": "Empresa Vendedora",
              "value": "=ViaTribut",
              "type": "string"
            },
            {
              "id": "67e4a818-834d-417a-b601-15da60adebf1",
              "name": "Fecha Factura",
              "value": "={{    $('Edit Fields Pre_If\\'s').item.json.text.match(/B42759068(\\d{2}-\\d{2}-\\d{4})/)[1].split('-').reverse().join('-') }}",
              "type": "string"
            },
            {
              "id": "9d8217eb-ae6d-4c33-9da8-c0f7a7c03d4f",
              "name": "ImporteTotal",
              "value": "={{$\n('Edit Fields Pre_If\\'s').item.json.text.match(\n/(\\d+\\,\\d{2})\\d{3}\\,\\d+/\n)[1]\n}}€",
              "type": "string"
            },
            {
              "id": "342f65eb-6e90-4890-8e6f-0d466fdcc056",
              "name": "Empresa Compradora",
              "value": "={{ $('Edit Fields EmpresaCompradora').item.json['Empresa Compradora'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        -1800
      ],
      "id": "67d01afa-5730-4c64-b269-5b4922befed5",
      "name": "Edit Fields TG-ViaTribut1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "js4u6CDXzyhYBp61",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -4940,
        -1100
      ],
      "id": "0b493c9f-6fa4-41ab-98d1-85125c331ac5",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Is PDF": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not a PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterate over email attachments": {
      "main": [
        [
          {
            "node": "Is PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file to folder": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On email received": {
      "main": [
        [
          {
            "node": "Has attachments?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has attachments?": {
      "main": [
        [
          {
            "node": "Iterate over email attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "There are no attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Upload file to folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Gmail6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields Pre_If's",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Pre_If's": {
      "main": [
        [
          {
            "node": "If Taxgov",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields WWS": {
      "main": [
        [
          {
            "node": "If EmpresaCompradora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields GD": {
      "main": [
        [
          {
            "node": "If EmpresaCompradora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Norgenic": {
      "main": [
        [
          {
            "node": "If EmpresaCompradora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Other": {
      "main": [
        [
          {
            "node": "Google Drive13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Taxgov": {
      "main": [
        [
          {
            "node": "If EmpresaCompradora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields EmpresaCompradora": {
      "main": [
        [
          {
            "node": "Switch Empresa Compradora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Taxgov": {
      "main": [
        [
          {
            "node": "If TAXGOV-NORGENIC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If WW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If WW": {
      "main": [
        [
          {
            "node": "SwitchWW",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If GD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If GD": {
      "main": [
        [
          {
            "node": "SwitchGD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Norgenic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Norgenic": {
      "main": [
        [
          {
            "node": "Edit Fields Norgenic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If EmpresaCompradora": {
      "main": [
        [
          {
            "node": "Edit Fields EmpresaCompradora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If TAXGOV-NORGENIC": {
      "main": [
        [
          {
            "node": "Edit Fields Taxgov",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive13": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Empresa Compradora": {
      "main": [
        [
          {
            "node": "Google Drive16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Empresas TaxG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Empresas GD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Empresas WW",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields GD a Crec": {
      "main": [
        [
          {
            "node": "If GD not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields GD-ViaTribut": {
      "main": [
        [
          {
            "node": "If GD not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SwitchGD": {
      "main": [
        [
          {
            "node": "Edit Fields GD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields GD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields GD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields GD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SwitchWW": {
      "main": [
        [
          {
            "node": "Edit Fields WWS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields WWS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields WWS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields WWS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Nombre Factura": {
      "main": [
        [
          {
            "node": "Google Drive10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive10": {
      "main": [
        [
          {
            "node": "Google Drive11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Nombre Factura1": {
      "main": [
        [
          {
            "node": "Google Drive14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields WW a Crec1": {
      "main": [
        [
          {
            "node": "If  WW not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields WW-ViaTribut1": {
      "main": [
        [
          {
            "node": "If  WW not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Empresas WW": {
      "main": [
        [
          {
            "node": "Edit Fields WW a Crec1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields WW-ViaTribut1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Empresas GD": {
      "main": [
        [
          {
            "node": "Edit Fields GD a Crec",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields GD-ViaTribut",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If  WW not empty": {
      "main": [
        [
          {
            "node": "Edit Fields Nombre Factura1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If GD not empty": {
      "main": [
        [
          {
            "node": "Edit Fields Nombre Factura",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive12": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive14": {
      "main": [
        [
          {
            "node": "Google Drive15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Nombre Factura2": {
      "main": [
        [
          {
            "node": "Google Drive5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Empresas TaxG": {
      "main": [
        [
          {
            "node": "Edit Fields TaxG-Bing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields TaxG-Google",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields TG-ViaTribut",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields TG-ViaTribut1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields TG-ViaTribut": {
      "main": [
        [
          {
            "node": "If TG not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields TaxG-Bing": {
      "main": [
        [
          {
            "node": "If TG not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields TaxG-Google": {
      "main": [
        [
          {
            "node": "If TG not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If TG not empty": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields Nombre Factura2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive4": {
      "main": [
        [
          {
            "node": "Gmail4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive5": {
      "main": [
        [
          {
            "node": "Google Drive6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields Norgenic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields TG-ViaTribut1": {
      "main": [
        [
          {
            "node": "If TG not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive16": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 300
  },
  "versionId": "4f5f10a7-e35e-4433-8bd8-bff9c9e32d7c",
  "meta": {
    "instanceId": "921b42ac40713cf8e80903373553a75b6a7dc1f7ad27fcbec19d4a8582a592ca"
  },
  "id": "CeDBsN8WhrVOazfK",
  "tags": [
    {
      "createdAt": "2025-03-28T08:07:18.535Z",
      "updatedAt": "2025-03-28T08:07:18.535Z",
      "id": "0aWqZAAUUxSDgq4m",
      "name": "Facturación"
    }
  ]
}